button{
    display: flex;
    gap: 15px;

    border-radius: 54.916px;
    background: var(--gradientePurple);
    border: none;
    padding: 10px 35px;
    color: var(--lavender);
    font-weight: 500;
    font-size: 18px;
}