*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: var(--montserrat);
}

header{
    background-color: var(--night);
    display: flex;
    padding: 10px 50px;

    justify-content: space-between;
    align-items: center;
}

header>nav{
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header>nav a{
    color: var(--lavender);
    text-decoration: none;
}

#linkLogin{
    padding: 8px 49px;
    border-radius: 50px;
    background-image: var(--gradientePurple);
}